rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /courses/{courseKey}/games/{gi}/results/{resultId} {
      allow read: if true;
      allow create: if request.resource.data.groupName is string
                    && request.resource.data.groupName.size() > 0
                    && request.resource.data.groupName.size() < 40
                    && request.resource.data.score is number
                    && request.resource.data.t is number;
      allow update, delete: if false;
    }
    match /courses/{courseKey}/icebreakerRace/{entryId} {
      allow read: if true;
      allow create: if request.resource.data.groupName is string
                    && request.resource.data.groupName.size() > 0
                    && request.resource.data.groupName.size() < 40
                    && request.resource.data.ts is number
                    && request.resource.data.keys().hasOnly(['groupName','ts']);
      allow update, delete: if false;
    }
    match /courses/{courseKey}/selfrate/{entryId} {
      allow read: if true;
      allow create: if request.resource.data.mode in ['pre', 'post', 'followup']
                    && request.resource.data.vals is list
                    && request.resource.data.vals.size() == 5
                    && request.resource.data.total is number
                    && request.resource.data.ts is number
                    && request.resource.data.keys().hasOnly(['mode','vals','total','ts']);
      allow update, delete: if false;
    }
  }
}
